/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-may-2016, 17:49:03
    Author     : enric
*/
#results_info .alert-danger{
    display:block!important;
}
.page-header > h1{
    color:#da6f03!important;
}
.waiting_wrapper{
    width:100%;
    text-align:center;
    display:none;
}
.form_edit{
    display:none;
}
.error{
    display:none;
    color:red;
}
.datatable-form{
    padding:2em;
    border: 0.25em solid #84D5D8;
    border-radius:0.5em;
}
le tr.odd, #datatable tr.even,#datatable_block{
    cursor:pointer;
}

#datatable tr.odd:hover, #datatable tr.even:hover{
    color:white;
    background:#00979C!important;
}
#datatable_block tr.odd:hover, #datatable_block tr.even:hover{
    color:white;
    background:#00979C!important;
}
.iconoBoton{
    cursor:pointer;
    font-size:2em;
    border: 1px solid grey;
}
.hiddendata{
    display:none;
}
.deletebutton{
    cursor:pointer;
    display:block;
    float:left;
    color:#F47A20;
    height:100%;
    font-size:1.125em;
}
#addTrabajador{
    cursor:pointer;
    overflow:hidden;
}

#trabajadores{
    margin:0;
    padding:0;
    list-style-type: none;
    width:100%;
    overflow:hidden;
}
#trabajadores li{
    display:block;
    padding:0.5em;
    float:left;
    margin: 1em 1em 1em 0;
    border-radius:1em;
    border: 0.125em solid #00979C;
}
.addText{
    display:block;
    float:left;
    width:90%;
}
#addTrabajador .fa{
    display:block;
    float:left;
    font-size:1.25em;
}
.form-group{
    overflow:hidden;
}
#addTrabajador{
    color:black;
    font-weight:bold;
    font-size:0.8em;
    border: 0.25em solid #00979C;
    color:#00979C;
    padding: 0.625em;
    border-radius: 0.5em;
}

#addTrabajador:hover{
    background:#00979C;
    color:white;
    transition: color 1s, background 1s;
}

#trabajadores p{
    font-size:1em;
    height:100%;
    width:90%;
    margin:0;
    display:block;
    float:left;
}

.btn.btn-arduino{
    background:#00979C;
    color:white;
    font-weight:bolder;
    transition: background 0.5s, color 0.5s;
}

.btn.btn-arduino:hover{
    background:#F47A20;
    color:black;
    font-weight:bolder;
}
.colorLabel{
    color:#da6f03;
}
.form_edit_box{
    margin:2.5em;
}
#datatable_wrapper{
    padding:1em;
}
#datatable th,#datatable_block th{
    background:#84D5D8;
}
.search-form{
    padding:2em;
    border: 0.25em solid #da6f03;
    border-radius:0.5em;
}
.pagination>.active>a{
    background:#da6f03;
    border-color:#da6f03;
    transition: background 0.5s, border-color 0.5s;
}
.pagination>.active>a:hover{
    background:#84D5D8;
    border-color:#84D5D8;
}
#trabajadoresModal{
    list-style-type:none;
    padding:2.5em;
    
}
#trabajadoresModal input{
    cursor:pointer;
}
#trabajadoresModal .itemModal{
    display:block;
    float:left;
    width:33%;
    padding:0.25em;
    color:#da6f03;
    font-weight:bold;
    cursor:pointer;
    transition: color 1s, background-color 1s;
}
#trabajadoresModal .itemModal:hover{
    color:white;
    background-color:#00979C;
}
.modal-body{
    padding:0.5em;
}
.itemModal{
    box-sizing:border-box;
    border: 2px solid #00979C;
    border-radius: 1em;
}
.modal-title{
    color:#da6f03;
}
.alert-danger{
    display: none;
}
