/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-may-2016, 13:18:05
    Author     : couto
*/

.footer {
    height: 50px;
    background-color: #00979C;
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}