/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-may-2016, 17:49:03
    Author     : enric
*/
.form_edit{
    display:none;
}
#datatable tr.odd, #datatable tr.even{
    cursor:pointer;
}
#datatable tr.odd:hover, #datatable tr.even:hover{
    color:white;
    background:black;
}

